@charset "utf-8";

body {
    font-family: "Century Gothic";
    background-image: url("picture/back.png");
    background-attachment: fixed;
    background-size: cover;
    font-size: 1.2rem;
    min-width: 600px;
    /*max-width: ;*/
}

a,
a:link,
a:visited,
a:hover,
a:active {
    font-weight: bold;
    text-decoration: none;
    color: rgb(83, 83, 83);
}

header {
    position: relative;
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.ribon {
    position: relative;
    top: 5px;
    padding: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.button {
    display: inline-block;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0px;
    background-color: white;
    border-bottom: solid 1px rgb(137, 137, 137);
    border-right: solid 1px rgb(137, 137, 137);
    border-radius: 2px;
}

.button_selected {
    display: inline-block;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0px;
    background-color: rgba(255, 174, 0, 0.115);
    border-top: solid 1px rgb(137, 137, 137);
    border-left: solid 1px rgb(137, 137, 137);
    border-radius: 2px;
}

.content {
    position: relative;
    top: 20px;
    display: block;
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

h3 {
    background-color: white;
    padding: 7px;
    border-left: 10px solid rgb(121, 255, 181);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

.label_bar {
    background-color: white;
    padding: 7px;
    border-left: 10px solid rgb(121, 255, 181);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

th,
td {
    width: 300px;
    border-bottom: 1px solid black;
}

img {
    text-align: center;
    width: 100%;
}

#pbl {
    width: auto;
    text-align: center;
}